/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, sans-serif;
}

/* PAGE BACKGROUND */
body {
    min-height: 100vh;
    background-image: url("./home.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INFO SECTION (OUTSIDE CARD) */
.info {
    max-width: 600px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: black;
}

.info h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.info p {
    font-size: 20px;
    margin-bottom: 6px;
}

/* WARNING TEXT */
.info .warning {
    margin-top: 10px;
    font-weight: 500;
    color: black;
}


/* MAIN CONTAINER */
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* BLUR CARD */
.card {
    width: 420px;
    padding: 30px 25px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
}

/* TITLE */
.card h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
}

/* DESCRIPTION TEXT */
.card p {
    text-align: center;
    font-size: 20px;
    color: #222;
    margin-bottom: 6px;
}

/* DIVIDER */
.card hr {
    margin: 15px 0;
    border: none;
    height: 1px;
    background: rgba(0,0,0,0.2);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
}

/* LABELS */
label {
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 10px;
}

/* INPUTS */
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 14px;
}

/* FILE INPUT */
input[type="file"] {
    background: rgba(255,255,255,0.6);
    cursor: pointer;
}

/* BUTTON */
button {
    margin-top: 18px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #1e6fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #154fc7;
}

/* INFO SECTION */
h4 {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    font-size: 18px;
}

h4 a {
    color: #1e6fff;
    text-decoration: none;
    font-weight: 600;
}

h4 a:hover {
    text-decoration: underline;
}

/* FOOTER */
footer {
    margin: 25px 0;
    font-size: 18px;
    opacity: 0.85;
}